<div class="container">
  <form class="row" [formGroup]="this.options">
	<button nz-button nzType='primary' (click)="add()">Add employee</button>
	<input nz-input placeholder="Filter" formControlName="filter" (keydown)="this.filter()"/>
  </form>

  <nz-table #employeeTable [nzData]="employees">
	<thead>
	  <td>Id</td>
	  <td>Name</td>
	  <td>Birthday</td>
	</thead>
	<tbody>
	  <tr *ngFor="let employee of employeeTable.data">
		<td>{{employee.id}}</td>
		<td>{{employee.surname + ' ' + employee.lastname}}</td>
		<td>{{employee.birthday.toISOString()}}</td>
	  </tr>
	</tbody>
  </nz-table>
</div>
