.container {
	max-width: 900px;
	margin: auto;
	
	form {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;

		margin-top: 25px;
		margin-bottom: 25px;
	}
}


